<!DOCTYPE html>
<html lang="en">
	<head>
		<title>ngAnimate</title>
	  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css">
	  	<link rel="stylesheet" href="styles/styles.css">
	</head>
	<body ng-app="animateApp">
		<div class="container" ng-controller="AnimateController as anime">
			<h1 id="myheading" class="text-xs-center">ngAnimate Sample</h1>
			<div class="row">
				<div id="left-panel" class="col-sm-4">
					<div card-section ng-repeat="card in left_items"></div>
				</div>
				<div class="col-sm-4 messageBox">
					<h3 class="text-xs-center">Center Section</h3>
					<p class="lead">
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
					</p>
				</div>
				<div id="right-panel" class="col-sm-4">
					
					<div card-section ng-repeat="card in right_items | reverse"></div>

				</div>
			</div>
		</div>
		<script src="scripts/angular.min.js"></script>
		<script src="scripts/angular-animate.js"></script>
		<script src="scripts/app.js"></script>
	</body>
</html>

